@charset "utf-8";
/* CSS Document */
img {width: 100%; height:auto;max-width: 100%}

body{background-color: #FBF9F9;font-family: 'Great Vibes', cursive;
}
h1 {font-family: 'Great Vibes', cursive;}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}
.navcontainer{
	background-color:#55A9F8;
	color:#F8F7F7;
}